// Colors
$clr1: #2e2a2b;
$clr2: #092F32;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0eab7;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;