.screen {
    background-color: rgba(0, 0, 0, 0.671);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    z-index: 9999;

    .modal {
        width: 520px;
        // height: 400px;
        border-radius: 3px;
        background-color: white;
        margin: 0 auto;
        // position: fixed;
        // margin-inline-start: 150px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // top: 150px;

        form {
            .add-post-modal-close-btn-container {
                display: flex;
                flex-direction: row-reverse;

                .add-post-modal-close-btn {
                    // position: absolute;
                    // top: 205px;
                    width: 25px;
                    // margin-inline-start: 484px;
                    // margin-top: auto;
                    padding: 0;
                    border: none;
                    background-color: transparent;
                }
            }

            .add-post-btn-container {
                //changing all margin at .add-post-modal-btn
                display: flex;
                flex-direction: row-reverse;
                padding: rem(10px);

                .add-post-modal-btn {
                    width: rem(45px);
                    font-size: 14px;
                    // margin-top: 0;
                    // margin-inline-start: 440px;
                    // margin-bottom: 350px;
                }
            }
        }
    }

    h4 {
        padding-inline-start: rem(16px);
        padding-bottom: rem(18px);
        padding-top: 0px;
        font-weight: bold;
        display: block;
        // margin-block-start: 1.33em;
        // margin-block-end: 1.33em;
        // margin-inline-start: 10px;
        // margin-inline-end: 0px;
    }

    .add-post-modal-textarea {
        padding: rem(16px);
        // padding-top: rem(16px);
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
        display: block;
    }
    textarea {
        width: 100%;
        border: 0;
        color: #8e8e8e;
        background: transparent;
        outline: 0;
        font-family: inherit;
    }

    .add-post-modal-img-up {
        height: 340px;
        width: 520px;
        font-size: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #dbdbdb;
    }
}
