.main-header {
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
    position: fixed;
    top: 0;
    min-width: rem(1350px);
    z-index: 9999;
    // justify-content: space-between;

    .header-container {
        padding: 8px 0;
    }

    .header-logo {
        font-size: rem(33px);
        letter-spacing: 0.8px;
        font-family: cookie, sans-serif;
        color: $clr1;
        margin-inline-start: 20px;
    }

    .header-logo :hover {
        text-decoration: none;
    }

    .header-list {
        margin-inline-end: 15px;

        li :last-child {
            margin-inline-end: 5px;
        }

        a {
            color: $clr6;
            font-weight: 700px;
        }
    }

    .header-list :hover {
        text-decoration: none;
    }
}
