.root {
    max-width: 345;
    margin: 1px;
    margin-top: 55px;
    margin-bottom: 40px;

    .user-img {
        cursor: pointer;
    }
    .media {
        height: 0;
        padding-top: "56.25%"; // 16:9
    }
    .expand {
        transform: "rotate(0deg)";
        margin-left: "auto";
    }
    .expandOpen {
        transform: "rotate(180deg)";
    }
    .avatar {
        background-color: red;
    }

    .post-preview {
        margin-top: 40px;
    }

    .liked {
        svg {
            fill: red;
        }
    }
}
