//prew settings- available to change
* {
    box-sizing: border-box;
}

#root {
    height: 100vh;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    // color: $clr2;
    color: #262626;
    height: 100vh;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    // line-height: 1;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}
